<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>infosecsos</display-name>
  <servlet>
        <servlet-name>helloservlet</servlet-name>
        <servlet-class>servlets.helloservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>seginfosos</servlet-name>
        <servlet-class>servlets.seginfosos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sosmb</servlet-name>
        <servlet-class>servlets.sosmb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessaFormulario</servlet-name>
        <servlet-class>servlets.ProcessaFormulario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessaFormulario1</servlet-name>
        <servlet-class>servlets.ProcessaFormulario1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processarFormulario2</servlet-name>
        <servlet-class>servlets.processarFormulario2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloservlet</servlet-name>
        <url-pattern>/helloservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seginfosos</servlet-name>
        <url-pattern>/seginfosos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sosmb</servlet-name>
        <url-pattern>/sosmb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessaFormulario</servlet-name>
        <url-pattern>/ProcessaFormulario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessaFormulario1</servlet-name>
        <url-pattern>/ProcessaFormulario1</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>processarFormulario2</servlet-name>
        <url-pattern>/processarFormulario2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
